.contacts-container {
    text-align: center;
    padding: 20px 0;
}

.contacts-container h4 {
    font-weight: lighter;
}

.contacts-content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contacts-content a {
    text-decoration: none;
    color: #000000;
}

.contacts-content img {
    width: 60px;
    height: 60px;
    margin: 0 20px;
}
