header {
    display: flex;
    justify-content: center;
    padding: 20px;
    background: var(--color-6);
    color: #FFFFFF;
}

.header-first-part {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 350px;
}

.header-first-part p {
    font-size: 18px;
    line-height: 1.7em;
    font-weight: 600;
}

.header-second-part {
    width: 500px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-top: 30px;
    perspective: 700px;
}

.header-info-box {
    width: 300px;
    height: 400px;
    background: var(--color-6);
    position: absolute;
    transform: rotate3d(.5, -.866, 0, 15deg) rotate(-1deg);
    border: 1px solid var(--color-7);
    border-radius: 4px;
    box-shadow: 0 38px 40px -17.5px rgba(0, 0, 0, .4), 46px 38px 70px -7.5px rgba(0, 0, 0, .5);
}

.header-profile-title {
    background: var(--color-7);
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
}

.header-profile-content {
    padding: 10px;
}

.header-profile-img {
    display: flex;
    justify-content: center;
}

.header-profile-img > img {
    border-radius: 50%;
    border: 1px solid var(--color-7);
}

.header-profile-info {
    width: calc(100% - 10px);
    height: 130px;
    margin-top: 10px;
    padding: 5px;
    background: var(--color-7);
    font-family: Source Code Pro, Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: var(--color-12);
}

.object-type {
    color: var(--color-8);
}

.object-name {
    color: var(--color-9);
}

.reserved {
    color: var(--color-10);
}

.attribute {
    color: var(--color-11);
}

@media screen and (max-width: 710px) {
    header {
        flex-direction: column;
        height: 600px;
        justify-content: flex-start;
    }

    .header-first-part {
        width: 100%;
        height: fit-content;
        text-align: center;
        justify-content: flex-start;
    }

    .header-second-part {
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 390px) {
    header {
        height: 700px;
    }
}
