.projects-session {
    background: var(--color-2);
    padding-bottom: 20px;
}

.projects-session a {
    color: black;
}

.projects-session > p {
    text-align: center;
    font-size: 18px;
    padding: 0 20px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin: 0 20px 20px 20px;
}

.project-description {
    max-width: 350px;
    text-align: center;
}

.project-gif img {
    width: 100%;
}
