.projects-session {
    background: var(--color-14);
    padding-top: 20px;
    padding-bottom: 40px;
}

.projects-session a {
    background: var(--color-11);
    text-decoration: none;
    color: #FFFFFF;
    padding: 5px;
    margin: 0 5px;
    border-radius: 5px;
}

.projects-session a:hover {
    background: var(--color-7);
    transition: background-color 0.3s;
}

.projects-box {
    display: flex;
    justify-content: center;
    max-width: 960px;
    flex-wrap: wrap;
    margin: 30px auto 10px;
    font-family: Open Sans, Helvetica, Arial, sans-serif;
}

.project {
    width: 270px;
    height: 280px;
    margin: 10px;
    border-radius: 5px;
    background: #FFFFFF;
    border-top: 4px solid var(--color-11);
    box-shadow: 0 2px 10px rgba(50, 50, 93, .1);
    padding: 15px;
}

.project-description {
    height: 185px;
}

.project-links {
    display: flex;
    height: 30px;
    padding: 5px;
    justify-content: center;
}

.project h3 {
    text-align: center;
    font-size: 17px;
}

.project p {
    line-height: 1.5;
    color: var(--color-15);
}
