.skill-title span {
    color: #FFFFFF;
    background-color: var(--color-5);
}

.skills-container {
    margin: 50px 0;
}

.skills-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
