.timeline {
    padding-bottom: 20px;
    background: var(--color-5);
}

.timeline-container {
    max-width: 1200px;
    margin: 40px auto;
    position: relative;
}

.timeline-container::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 6px;
    background: var(--color-3);
    left: 50%;
    margin-left: -3px;
    border-radius: 5px;
}

@media screen and (max-width: 800px) {
    .timeline-container::before {
        left: 31px;
    }
}
