.timeline {
    padding: 20px 0;
    background: var(--color-6);
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    line-height: 1.7;
}

.timeline-container {
    max-width: 1200px;
    margin: 40px auto;
    position: relative;
}

.timeline-container::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 6px;
    background: var(--color-14);
    left: 50%;
    margin-left: -3px;
    border-radius: 5px;
}

@media screen and (max-width: 800px) {
    .timeline-container::before {
        left: 31px;
    }
}
