@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  min-width: 350px;

  --color-5: #293241;
  --color-6: #02203C;
  --color-7: #15314B;
  --color-8: #7411ad;
  --color-9: #a0a510;
  --color-10: #ad6111;
  --color-11: #2078d6;
  --color-12: gray;
  --color-13: #445d6e;
  --color-14: #f6f9fc;
  --color-15: #445d6e;
}
