@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;

  --color-1: #2A6F97;
  --color-2: #98C1D9;
  --color-3: #E0FBFC;
  --color-4: #EE6C4D;
  --color-5: #293241;
  --color-backend: #012A4A;
  --color-frontend: #2A6F97;
  --color-database: #61A5C2;
  --color-other-skill: #A9D6E5;
}
